.site-header{
	height: 44px;
	position: fixed;
	top: 0; left: 0; right: 0;
	padding: 0 20px;
	z-index: 1000;
	background-color: #fff;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15);
	.left-side{ float: left; }
	.right-side{ float: right; }
	.main-logo{
		float: left;
		margin: 7px 10px 7px 0;
		width: 30px; height: 30px;
		a{
			display: block;
			width: 30px; height: 30px;
			text-indent: -9999px;
			border-radius: 2px;
		}
	}
	ul.list{
		li{
			a{
				display: block;
				white-space: nowrap;
			}
		}
		i{
			display: inline-block;
		}
		& > li{
			float: left;
			position: relative;
			border-top: 2px solid transparent;
			& > a{
				line-height: 40px;
				padding: 0 10px;
				color: $grey800;
				border-left: 1px solid transparent;
				border-right: 1px solid transparent;
				padding-bottom: 2px;
			}
			& > ul.inner-list{
				position: absolute;
				top: 100%; left: -5px;
				&.pull-right{
					left: auto;
					right: -5px;
				}
				padding: 5px 0;
				background-color: #fff;
				border: 1px solid $grey300;
				border-radius: 0 0 4px 4px;
				// hide
				display: none;
				li{
					a{
						line-height: 24px;
						padding: 0 20px 0 15px;
						color: $grey700;
						&:hover{
							background-color: $grey200;
						}
					}
					&.divider{
						height: 1px;
						margin: 5px 0;
						background-color: $grey300;
					}
				}
			}
			span.border-hide{
				position: absolute;
				display: block; 
				height: 1px;
				top: 100%; left: 1px; right: 1px;
				background-color: transparent;
			}
			&:hover{
				border-top-color: $red500;
				& > a{
					border-left-color: $grey300;
					border-right-color: $grey300;
				}
				span.border-hide{
					background-color: #fff;
				}
				& > ul.inner-list{
					display: block;
				}
			}
		}
	}
	.main-nav{
		float: left;
		padding: 0 10px;
	}
	.search-bar{
		float: left;
		padding: 0 10px 0 0;
		.header-search-form{
			position: relative;
			.search-input{
				width: 320px; height: 30px;
				line-height: 28px;
				padding: 0 40px 0 10px;
				margin: 7px 0;
				background-color: $grey100;
				border: 1px solid $grey400;
				border-radius: 4px;
				&:focus{
					background-color: $grey50;
				}
			}
			.search-submit{
				position: absolute;
				top: 7px; right: 0;
				width: 30px; height: 30px;
				text-align: center;
				color: $grey500;
				background-color: transparent;
				border: 0;
				i{
					display: inline-block;
					line-height: 27px;
					padding-bottom: 3px;
					font-size: 14px;
				}
				&:hover{
					color: $red700;
				}
			}
		}
	}
	.action-nav{
		float: left;
		padding: 0 5px;
		ul.list{
			& > li{
				& > a{
					color: $grey500;
					&:hover{
						color: $grey700;
					}
				}
				&:hover{
					border-top-color: transparent;
					& > a{
						border-left-color: transparent;
						border-right-color: transparent;
					}
				}
				&.upload-open-btn{
					a{
						i{
							padding-top: 4px;
							line-height: 36px;
							font-size: 22px;
						}
					}
				}
				&.notifi-open-btn{
					a{
						i{
							padding-top: 2px;
							line-height: 38px;
							font-size: 18px;
						}
					}
					.notifi-badge{
						position: absolute;
						display: block;
						top: 3px; left: 20px;
						font-size: 11px;
						line-height: 15px;
						padding: 0 3px;
						color: #fff;
						background-color: $red700;
						border-radius: 4px;
					}
				}
			}
		}
	}
	.login-btn{
		padding: 0 5px 0 10px;
		float: left;
		.qh-btn{
			margin: 9px 0 0;
		}
	}
	.user-nav{
		float: left;
		padding: 0 0 0 10px;
		.facebook-login-btn{
			display: block;
			float: left;
		}
		ul{
			li{
				a{

				}
				&.user-profile-link{
					a{
						position: relative;
						padding-left: 40px;
						font-weight: 700;
						.user-avatar{
							position: absolute;
							width: 22px; height: 22px;
							top: 9px; left: 10px;
							border-radius: 4px;
						}
					}
				}
			}
		}
	}
}
.modal-open .site-header{
	right: 17px;
}

.site-content{
	margin-top: 45px;
}
.qh-container{
	width: 1200px;
	margin: 0 auto;
	padding: 0 10px;
	@include clearfix();
}
/*
------------------------------------------------------------------------------------------------------------------------
[.slide-in-up]
------------------------------------------------------------------------------------------------------------------------
*/
.animate
{
    -webkit-animation-duration: .4s;
       -moz-animation-duration: .4s;
            animation-duration: .4s;
    -webkit-animation-timing-function: ease;
       -moz-animation-timing-function: ease;
            animation-timing-function: ease;

    -webkit-animation-fill-mode: both;
       -moz-animation-fill-mode: both;
            animation-fill-mode: both;
}
/*
------------------------------------------------------------------------------------------------------------------------
[.fade-in]
------------------------------------------------------------------------------------------------------------------------
*/

@-webkit-keyframes fade-in{
  0%{opacity: 0;}
}
@-moz-keyframes fade-in{
  0%{opacity: 0;}
}
@keyframes fade-in{
  0%{opacity: 0;}
}

.fade-in{
  -webkit-animation-name: fade-in;
  -moz-animation-name: fade-in;
  animation-name: fade-in;
}
.post-cards-wrap{
	padding: 0;
	margin: 10px -10px;
}
.card-single{
	float: left;
	padding: 10px;
	width: 300px;
	.card-single-inner{
		border-radius: 12px;
		overflow: hidden;
		background-color: #fff;
		box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15);
	}
	.c-image{
		position: relative;
		border-radius: 12px 12px 0 0;
		overflow: hidden;
		img{
			display: block;
			border-radius: 12px 12px 0 0;
		}
		.post-link{
			position: relative;
			display: block;
			.more-image{
				position: absolute;
				bottom: 7px; right: 10px;
				padding: 0 3px;
				line-height: 18px;
				font-size: 12px;
				color: $grey800;
				background-color: rgba(#fff,.5);
				border-radius: 4px;
			}
		}
	}
	.c-header{
		position: relative;
		min-height: 36px;
		margin: 12px 0;
		padding: 0 15px;
		.user-image{
			position: absolute;
			top: 0; left: 15px;
			width: 36px; height: 36px;
			display: block;
			.user-avatar{
				display: block;
				width: 100%; height: 100%;
				border-radius: 4px;
				@extend .bg-cover;
			}
		}
		.user-info{
			padding: 0 5px 0 46px;
			.display-name{
				margin: 0;
				font-size: 14px;
				font-weight: 700;
				line-height: 20px;
				a{
					display: inline-block;
					color: $grey800;
				}
			}
			.post-info{
				margin-top: 2px;
				line-height: 13px;
				font-size: 11px;
				color: $grey600;
				cursor: default;
			}
		}
		.user-option{
			position: absolute;
			top: 0; right: 3px;
			.user-option-btn{
				border: 0;
				background-color: transparent;
				display: block;
				line-height: 16px;
				color: $grey500;
				i{
					display: inline-block;
					vertical-align: top;
					line-height: 16px;
				}
			}
			.user-option-list{
				li{
					a{
						padding: 2px 15px;
						font-size: 13px;
						color: $grey700;
						&:hover{
							background-color: $grey200;
						}
					}
				}
			}
		}
	}
	.c-body{
		margin: 12px 0;
		padding: 0 15px;
		.item-description{
			font-size: 14px;
			color: $grey800;
		}
		.item-categories{
			margin-top: 5px;
			cursor: default;
			&:before{
				display: inline-block;
				content: "\2014 ";
				padding: 0 5px 0 0;
				color: #80CBC4;
			}
			.single-category{
				display: inline-block;
				font-size: 13px;
				font-weight: 700;
				color: $grey600;
				&:after{ color: $grey600; content: ", "; }
				&:last-child:after{ content: "" }
			}
		}
	}
	.c-footer{
		border-top: 1px solid $grey300;
		@include clearfix();
		padding: 7px 15px;
		.item-buttons{
			float: right;
			@include clearfix();
			.single-button{
				display: block;
				float: left;
				@include clearfix();
				margin: 0 0 0 7px;
				padding: 0 3px;
				.icon{
					float: left;
					display: block;
					line-height: 22px;
					color: $grey400;
					i{
						display: block;
						line-height: 22px;
					}
				}
				.count{
					float: left;
					display: block;
					line-height: 22px;
					padding: 0 0 0 3px;
					font-size: 13px;
					color: $grey500;
				}
				&.item-button-like{ .icon{ i{ font-size: 16px; } } }
				&.item-button-pin{ .icon{ i{ font-size: 18px; } } }
				&.item-button-comment{ .icon{ i{ font-size: 18px; } } }
				&:hover, &.active{
					.icon{ color: $red600; }
					.count{ color: $grey700; }
				}
			}
		}
	}
	.c-comments{
		padding: 12px 15px;
		border-top: 1px solid $grey300;
		.comment-post-form{
			.comment-post-input-area{
				display: block;
				width: 100%;
				background-color: $grey200;
				border: 0;
				border-radius: 4px;
				padding: 7px 10px;
			}
			.comment-post-submit{
				margin: 0 0 0 10px;
			}
		}
		.comment-list{
			margin-top: 10px;
			padding: 0 7px;
			background-color: $grey100;
			border-radius: 4px;
			.single-comment{
				padding: 7px 0;
				position: relative;
				border-bottom: 1px solid #fff;
				.avatar{
					position: absolute;
					top: 7px; left: 0;
					width: 32px; height: 32px;
					border-radius: 4px;
					@extend .bg-cover;
				}
				.user-name{
					padding: 0 0 0 40px;
					line-height: 16px;
					font-size: 13px;
					font-weight: 700;
					color: $grey800;
					a{
						color: $grey800;
						&:hover{
							color: $red500;
						}
					}
				}
				.time{
					padding: 0 0 0 40px;
					line-height: 14px;
					font-size: 11px;
					color: $grey600;
				}
				.content{
					padding: 3px 0 0 40px;
					font-size: 12px;
					color: $grey800;
				}
			}
		}
	}
}
.msr-pagination{
  margin: 0 0 20px;
  padding: 0;
  list-style: none;
  text-align: center;
}
.msr-pagination a{
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  transition: all .3s ease-in;
  color: $grey500;
  font-style: italic;
}
.msr-loading{
  position: fixed;
  z-index: 9999;
  bottom: 86px;
  left: 0;
	width: 100%;
  text-align: center;
}

/*
------------------------------------------------------------------------------------------------------------------------
[#infscr-loading]
------------------------------------------------------------------------------------------------------------------------
*/

#infscr-loading
{
    display: inline-block;

    padding: 20px;

    opacity: .8;
    color: #fff;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    background: #000;
}

#infscr-loading img
{
    margin-bottom: 9px;
}
.qh-page-header{
	margin: 20px 0;
	padding: 12px 20px;
	border-radius: 12px;
	.page-title{
		font-size: 24px;
		font-weight: 700;
	}
	.page-subtitle{
		margin: 5px 0 3px;
		font-size: 13px;
		color: $grey700;
	}
	.page-header-nav{
		margin-top: 10px;
		.nav>li>a {
		  padding: 5px 10px;
		  color: $grey700;
		}	
		.nav-pills>li {
		  float: none;
		  display: inline-block;
		}
		.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
		  color: #fff;
		  background-color: $red600;
		}
	}
	.child-category-view{
		margin-top: 10px;
		ul.child-category-list{
			li{
				display: inline-block;
				vertical-align: top;
				margin: 0 5px 0 0;
				a{
					position: relative;
					display: block;
					width: 110px;
					height: 110px;
					border-radius: 6px;
					.bg-image,
					.bg-gradient{
						position: absolute;
						top: 0;
						left: 0;
						width: 110px;
						height: 110px;
						border-radius: 6px;
					}
					.bg-image{
						@extend .bg-cover;
					}
					.bg-gradient{
						@include background-image(linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,0.02) 8%,rgba(0,0,0,0.07) 21%,rgba(0,0,0,0.45) 78%,rgba(0,0,0,0.56) 95%,rgba(0,0,0,0.6) 100%));
					}
					.cat-name{
						position: absolute;
						bottom: 0; left: 0; right: 0;
						margin: 0;
						padding: 10px 5px;
						font-size: 14px;
						font-weight: 700;
						line-height: 18px;
						color: #fff;
						text-align: center;
					}
					&:hover{
						.cat-name{
							color: $grey400;
						}
					}
				}
			}
		}
	}
}
.qh-section-article{
	margin: 20px 0;
	padding: 25px 30px 40px;
	border-radius: 12px;
	& > h1:first-child,
	& > h2:first-child,
	& > h3:first-child,
	& > h4:first-child,
	& > h5:first-child,
	& > h6:first-child,
	& > p:first-child,
	& > div:first-child{
		margin-top: 0;
	}
	& > h1:last-child,
	& > h2:last-child,
	& > h3:last-child,
	& > h4:last-child,
	& > h5:last-child,
	& > h6:last-child,
	& > p:last-child,
	& > div:last-child{
		margin-bottom: 0;
	}
}
.qh-user-page-header{
	background-color: #fff;
	border-radius: 0 0 12px 12px;
	.image-cover{
		position: relative;
		height: 360px;
		.cover-gradient{
			position: absolute;
			top: 0; bottom: 0; left: 0; right: 0;
			@include background-image(linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,0.03) 8%,rgba(0,0,0,0.11) 21%,rgba(0,0,0,0.61) 78%,rgba(0,0,0,0.7) 95%,rgba(0,0,0,0.7) 100%));
		}
		.user-info{
			position: absolute;
			bottom: 20px; left: 0; right: 0;
			.avatar{
				width: 128px; height: 128px;
				margin: 0 auto;
				border-radius: 12px;
			}
			.username{
				font-size: 24px;
				font-weight: 700;
				margin: 15px auto 0;
				width: 40%;
				text-align: center;
				color: #fff;
			}
			.description{
				margin: 5px auto 0;
				font-size: 12px;
				color: $grey400;
				text-align: center;
				width: 40%;
			}
		}
	}
	.user-page-nav{
		ul.list{
			text-align: center;
			li{
				display: inline-block;
				a{
					display: block;
					padding: 10px 15px 7px;
					line-height: 30px;
					white-space: nowrap;
					color: $grey700;
					border-bottom: 2px solid transparent;
				}
				& a:hover, &.active a{
					color: $grey900;
					border-bottom-color: $red600;
				}
			}
		}
	}
}
.qh-user-section{
	.user-avatar-upload{
		margin: 0 0 10px;
		.avatar-image{
			width: 128px; height: 128px;
			border-radius: 12px;
		}
	}
	.user-cover-upload{
		margin: 0 0 10px;
		img{
			display: block;
			max-width: 400px;
			max-height: 200px;
		}
	}
	.user-notifi-section{
		.all-notifi-list{
			padding: 10px 0;
			.notifi-single{
				display: block;
				position: relative;
				padding: 7px 5px;
				border-bottom: 1px solid $grey300;
				a{
					&:hover{ text-decoration: underline; }
				}
				.content{
					color: $grey900;
					font-size: 13px;
					line-height: 17px;
				}
				.info{
					margin-top: 2px;
					line-height: 14px;
					font-size: 12px;
					color: $grey600;
					cursor: default;
					span{
						&.view-detail{ 
							cursor: pointer;
							&:hover{ text-decoration: underline; }
						}
						&:after{ content: " \2022"; padding: 0 2px; }
						&:last-child:after{ content: ""; }
					}
				}
				.detail-content{
					font-size: 12px;
					margin: 5px 10px 0;
					padding: 5px 10px;
					background-color: $grey200;
					border-radius: 2px;
				}
				&.notifi-unread-item{
					padding-left: 10px;
					border-left: 3px solid $lgreen300;
				}
				&:nth-child(2n+1){
					background-color: $grey50;
				}
			}
		}
	}
}
.qh-section-404{
	padding: 50px 20px;
}
.qh-upload-section{
	width: 600px;
	padding: 10px;
	background-color: #fff;
	.post-description{
		display: block;
		width: 100%;
		background-color: $grey200;
		border: 0;
		border-radius: 8px;
		padding: 10px;
	}
	.post-image-upload{
		display: inline-block;
		vertical-align: top;
		.single-image{
			display: inline-block;
			vertical-align: top;
			position: relative;
			width: 72px; height: 72px;
			border-radius: 8px;
			@extend .bg-cover;
			.delete-image{
				position: absolute;
				display: block;
				bottom: 0; right: 0;
				width: 18px; height: 18px;
				text-align: center;
				color: $grey800;
				background-color: rgba(#fff,.5);
				border-radius: 4px 0 0 0;
				i{
					display: inline-block;
					line-height: 18px;
				}
				&:hover{
					background-color: rgba(#fff,.75);
				}
			}
		}
	}
	.post-image-input{
		display: inline-block;
		vertical-align: top;
		.label-image-input{
			width: 72px; height: 72px;
			padding-top: 15px;
			border: 2px dashed $grey400;
			color: $grey600;
			background-color: $grey200;
			border-radius: 8px;
			cursor: pointer;
			.text{
				font-size: 11px;
			}
		}
	}
	.category-title{
		font-size: 13px;
		font-style: italic;
		color: $grey700;
	}
	.category-choosing{
		.qh-form-label{
			margin: 7px 0 5px;
			font-size: 16px;
			color: $grey900;
		}
		.checkbox-inline{
			color: $grey800;
		}
	}
	.post-cancel{
		margin-top: 5px;
		a{
			font-size: 12px;
			font-style: italic;
			color: $grey600;
			&:hover{
				color: $red600;
			}
		}
	}
}
.qh-single-post-section{
	width: 900px;
	height: 500px;
	overflow: hidden;
	.post-image-view{
		width: 600px;
		height: 500px;
		float: left;
		background-color: $grey100;
		.carousel-indicators{
			bottom: 10px;
			li{
				display: inline-block;
				vertical-align: top;
				margin: 0 2px;
				width: 64px;
				height: 64px;
				border-radius: 4px;
				border: 2px solid #fff;
				@extend .bg-cover;
				opacity: .5;
				&.active{
					opacity: 1;
				}
			}
		}
		.carousel-inner{
			.item{
				width: 600px;
				height: 500px;
				line-height: 500px;
				text-align: center;
				img{
					display: inline-block;
					vertical-align: middle;
					max-width: 600px;
					max-height: 500px;
					line-height: 500px;
				}
			}
		}
		.qh-carousel-control{
			position: absolute;
			display: block;
			top: 50%;
			margin-top: -20px;
			background-image: none;
			background-repeat: no-repeat;
			width: 40px;
			height: 40px;
			border-radius: 12px;
			color: #fff;
			background-color: rgba(#000,.25);
			text-shadow: 0;
			text-align: center;
			i{
				display: inline-block;
				line-height: 40px;
			}
			&:hover{
				background-color: rgba(#000,.4);
			}
			&:active{
				background-color: rgba(#000,.3);
			}
			&.left{
				left: 10px;
			}
			&.right{
				right: 10px;
			}
		}

	}
	.post-info-view{
		width: 300px;
		float: right;
		.card-single-inner{
			border-radius: 0;
			@extend .z-depth-0;
		}
	}
}