// cards
.cards-display-main{
	margin: 10px auto;
}
.cards-display-main-ctn{
	padding: 0px;
	margin: 0;
	.card-hide{
		display: none;
		visibility: hidden;
	}
	.card-sizer{
		width: 292px;
	}
	.card-item{
		float: left;
		width: 292px;
		padding: 10px;
	}
	.card-item-inner{
		@extend .shadow-depth-1;
		background-color: #fff;
	}
}
