.site-header{
	height: 44px;
	position: fixed;
	top: 0; left: 0; right: 0;
	padding: 0 20px;
	z-index: 1000;
	background-color: #fff;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15);
	.left-side{ float: left; }
	.right-side{ float: right; }
	.main-logo{
		float: left;
		margin: 7px 10px 7px 0;
		width: 30px; height: 30px;
		a{
			display: block;
			width: 30px; height: 30px;
			text-indent: -9999px;
			border-radius: 2px;
		}
	}
	ul.list{
		li{
			a{
				display: block;
				white-space: nowrap;
			}
		}
		i{
			display: inline-block;
		}
		& > li{
			float: left;
			position: relative;
			border-top: 2px solid transparent;
			& > a{
				line-height: 40px;
				padding: 0 10px;
				color: $grey800;
				border-left: 1px solid transparent;
				border-right: 1px solid transparent;
				padding-bottom: 2px;
			}
			& > ul.inner-list{
				position: absolute;
				top: 100%; left: -5px;
				&.pull-right{
					left: auto;
					right: -5px;
				}
				padding: 5px 0;
				background-color: #fff;
				border: 1px solid $grey300;
				border-radius: 0 0 4px 4px;
				// hide
				display: none;
				li{
					a{
						line-height: 24px;
						padding: 0 20px 0 15px;
						color: $grey700;
						&:hover{
							background-color: $grey200;
						}
					}
					&.divider{
						height: 1px;
						margin: 5px 0;
						background-color: $grey300;
					}
				}
			}
			span.border-hide{
				position: absolute;
				display: block; 
				height: 1px;
				top: 100%; left: 1px; right: 1px;
				background-color: transparent;
			}
			&:hover{
				border-top-color: $red500;
				& > a{
					border-left-color: $grey300;
					border-right-color: $grey300;
				}
				span.border-hide{
					background-color: #fff;
				}
				& > ul.inner-list{
					display: block;
				}
			}
		}
	}
	.main-nav{
		float: left;
		padding: 0 10px;
	}
	.search-bar{
		float: left;
		padding: 0 10px 0 0;
		.header-search-form{
			position: relative;
			.search-input{
				width: 320px; height: 30px;
				line-height: 28px;
				padding: 0 40px 0 10px;
				margin: 7px 0;
				background-color: $grey100;
				border: 1px solid $grey400;
				border-radius: 4px;
				&:focus{
					background-color: $grey50;
				}
			}
			.search-submit{
				position: absolute;
				top: 7px; right: 0;
				width: 30px; height: 30px;
				text-align: center;
				color: $grey500;
				background-color: transparent;
				border: 0;
				i{
					display: inline-block;
					line-height: 27px;
					padding-bottom: 3px;
					font-size: 14px;
				}
				&:hover{
					color: $red700;
				}
			}
		}
	}
	.action-nav{
		float: left;
		padding: 0 5px;
		ul.list{
			& > li{
				& > a{
					color: $grey500;
					&:hover{
						color: $grey700;
					}
				}
				&:hover{
					border-top-color: transparent;
					& > a{
						border-left-color: transparent;
						border-right-color: transparent;
					}
				}
				&.upload-open-btn{
					a{
						i{
							padding-top: 4px;
							line-height: 36px;
							font-size: 22px;
						}
					}
				}
				&.notifi-open-btn{
					.notifi-open-btn-drd{
						background-color: transparent;
						color: $grey500;
						border: none;
						&:hover{
							color: $grey700;
						}
						i{
							padding-top: 2px;
							line-height: 38px;
							font-size: 18px;
						}
					}
					.notifi-badge{
						position: absolute;
						display: block;
						top: 3px; left: 20px;
						font-size: 11px;
						line-height: 15px;
						padding: 0 3px;
						color: #fff;
						background-color: $red700;
						border-radius: 4px;
					}
					.user-option-list{
						width: 337px;
						height: 407px;
						max-height: 407px;
						overflow: hidden;
						right: -5px;
						margin: 0;
						padding: 0;
						border: none;
						border: 1px solid $grey300;
						border-radius: 0 0 4px 4px;	
						::-webkit-scrollbar {
							width: 9px;
							height: 9px;
						}
						::-webkit-scrollbar-track-piece  {
							background-color: $grey200;
						}
						::-webkit-scrollbar-thumb:vertical {
							// height: 30px;
							background-color: $grey400;
							border-radius: 0;
						}
						.user-option-list-wrap{
							width: 337px;
							height: 380px;
							max-height: 380px;
							overflow-x: hidden;
							overflow-y: scroll;
						}
						.notifi-item{
							width: 320px;
							border-bottom: 1px solid $grey300;
							&.unread{
								border-left: 3px solid $red200;
							}
							.notifi-link{
								position: relative;
								display: block;
								white-space: normal;
								font-size: 12px;
								padding: 7px 10px;
								color: $grey700;
								line-height: 16px;
								min-height: 62px;
								.image{
									width: 48px;
									height: 48px;
									position: absolute;
									top: 7px; left: 10px;
									border-radius: 4px;
								}
								.info{
									margin-top: 2px;
									font-size: 11px;
									color: $grey500;
									span{
										display: inline-block;
										&:after{
											content: "\2022";
											display: inline-block;
											padding: 0 2px 0 5px;
											color: $grey400;
										}
										&:last-child:after{
											content: "";
											padding: 0;
										}
									}				
								}
								.image + .content{
									padding: 0 0 0 60px;
								}
								.image + .content + .info{
									padding: 0 0 0 60px;
								}
								.notifi-like{ color: $red600; }
								.notifi-comment{ color: $blue600; }
								.notifi-follower-add{ color: $grey600; }
								.notifi-following-post{ color: $lgreen600; }
							}
						}	
						.loading-icon{
							color: $grey500;
							padding: 10px 0;
						}
						.view-all{
							margin-top: 3px;
							font-size: 12px;
							a{
								line-height: 22px;
								padding: 0 0 2px;
								font-size: 11px;
								display: block;
								text-align: center;
								background-color: $grey300;
								color: $grey700;
								&:hover{
									color: $grey800;
								}
							}
						}
					}
				}
			}
		}
	}
	.login-btn{
		padding: 0 5px 0 10px;
		float: left;
		.qh-btn{
			margin: 9px 0 0;
		}
	}
	.user-nav{
		float: left;
		padding: 0 0 0 10px;
		.facebook-login-btn{
			display: block;
			float: left;
		}
		ul{
			li{
				a{

				}
				&.user-profile-link{
					a{
						position: relative;
						padding-left: 40px;
						font-weight: 700;
						.user-avatar{
							position: absolute;
							width: 22px; height: 22px;
							top: 9px; left: 10px;
							border-radius: 4px;
						}
					}
				}
			}
		}
	}
}
.modal-open .site-header{
	right: 17px;
}

.site-content{
	margin-top: 45px;
}

.qh-page-header{
	margin: 20px 0;
	padding: 12px 20px;
	border-radius: 12px;
	.page-title{
		font-size: 24px;
		font-weight: 700;
	}
	.page-subtitle{
		margin: 5px 0 3px;
		font-size: 13px;
		color: $grey700;
	}
	.page-header-nav{
		margin-top: 10px;
		.nav>li>a {
		  padding: 5px 10px;
		  color: $grey700;
		}	
		.nav-pills>li {
		  float: none;
		  display: inline-block;
		}
		.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
		  color: #fff;
		  background-color: $red600;
		}
	}
	.child-category-view{
		margin-top: 10px;
		ul.child-category-list{
			li{
				display: inline-block;
				vertical-align: top;
				margin: 0 5px 0 0;
				a{
					position: relative;
					display: block;
					width: 110px;
					height: 110px;
					border-radius: 6px;
					.bg-image,
					.bg-gradient{
						position: absolute;
						top: 0;
						left: 0;
						width: 110px;
						height: 110px;
						border-radius: 6px;
					}
					.bg-image{
						@extend .bg-cover;
					}
					.bg-gradient{
						@include background-image(linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,0.02) 8%,rgba(0,0,0,0.07) 21%,rgba(0,0,0,0.45) 78%,rgba(0,0,0,0.56) 95%,rgba(0,0,0,0.6) 100%));
					}
					.cat-name{
						position: absolute;
						bottom: 0; left: 0; right: 0;
						margin: 0;
						padding: 10px 5px;
						font-size: 14px;
						font-weight: 700;
						line-height: 18px;
						color: #fff;
						text-align: center;
					}
					&:hover{
						.cat-name{
							color: $grey400;
						}
					}
				}
			}
		}
	}
}
