// 404

.page-404{
	position: relative;
	min-height: 400px;
	height: 100vh;
	h2{
		font-size: 30px;
	}
	h3{
		font-weight: 400;
	}
}
.page-404-inner{
	position: absolute;
	top: 50%;
	@include translateY(-50%);
	width: 100%;
	padding: 30px;
}