// cards
.cards-display-main{
	margin: 10px auto;
}
.cards-display-main-ctn{
	padding: 0px;
	margin: 0;
	.card-hide{
		display: none;
		visibility: hidden;
	}
	.card-sizer{
		width: 292px;
	}
	.card-item{
		float: left;
		width: 292px;
		padding: 10px;
	}
	.card-item-inner{
		@extend .shadow-depth-1;
		background-color: #fff;
	}
}
#infscr-loading{
	text-align: center;
	position: absolute;
	bottom: -40px;
	left: 50%;
	margin-left: -20px;
	&:after, &:before{
		clear: both !important;
		content: " " !important;
  	display: table !important;
	}
}

