// base styles
*{
	&,&:hover,&:active,&:visited,&:focus{
		outline: none !important;
	}
}

body{
	background-color: #F3F5F6;
	line-height: 19px;
	min-width: 768px;
	padding-bottom: 45px;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
hr{
	margin: 15px 0;
	border-top: 1px solid $grey-lighten-2;
}