// siteHeader

header.site-header{
	z-index: 9999990;
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	border-bottom: 1px solid $grey-darken-4;
	background-color: $grey-darken-4;
	background-color: rgba(21,21,23,0.95);
	::selection{ background: transparent; }
	::-moz-selection{ background: transparent; }
	.df-container{
  	@media (max-width: $screen-sm-max){
			width: 100%;
 		}
  }
	a{
		font-weight: 400;
		white-space: nowrap;
		background-color: transparent;
		@include transition(opacity,.1s,ease-in-out);
		@extend .link-remove-deco;
		&,i{
			vertical-align: top;
		}
	}
	li > a:hover,
	li.active a,
	li.dropdown.open > a{
		@include opacity(.7);
	}
	ul{
		margin: 0; 
		padding: 0; 
		list-style: none;
		&:hover{
			cursor: default;
		}
	}
	// dropdown, ul level 1
	ul.dropdown-menu{
		top: 47px;
  	@extend .shadow-depth-nav;
		li{
			a{
				&:hover{
					@include opacity(1);
				}
			}
		}
	}
	@media (max-width: $screen-sm-max){
		.left-side, .right-side{
			text-align: center;
		}
		.site-logo, .top-nav, .search-form, .tools-nav{
			display: inline-block;
			vertical-align: top;
		}
	}
	@media (min-width: $screen-md-min){
		.left-side{
			float: left;
		}
		.right-side{
			float: right;
		}
		.site-logo, .top-nav, .search-form, .tools-nav{
			float: left;
		}
	}
	.site-logo{
		h1{
			margin: 0;
			padding: 0;
			a{
				display: block;
				font-size: 22px;
				font-weight: 700;
				letter-spacing: -2px;
				line-height: 49px;
				color: #fff;
				img{
					display: block;
					width: auto;
					height: 49px;
					padding: 9px 0;
				}
			}
		}
	}//.site-logo

	.top-nav{
		padding: 0 0 0 20px;
		@media (min-width: $screen-sm-min){
			padding: 0 0 0 30px;
		}
		ul.top-nav-ctn{
			& > li{
				display: inline-block;
				& > a{
					display: block;
					padding: 0 10px;
					line-height: 49px;
					font-size: 15px;
					color: #fff;
					& > i{
						line-height: 49px;
					}
					& > i.fa-angle-down{
						padding-left: 5px;
					}
				}
				ul.dropdown-menu{
					padding: 5px 0;
					&:before{
						left: 30px;
					}
				}
			}
		}
	}//.top-nav

	.search-form{
		margin: 0;
		form{
			position: relative;
			input,button{
				display: block;
				background-color: transparent;
				border: 0;
			}
			input{
				height: 33px;
				margin: 8px 0;
				padding: 0 37px 0 10px;
				font-size: 14px;
				border-radius: 3px;
				color: #000;
				background-color: $grey-lighten-2;
				@extend .trans-bgc;
				@include input-placeholder{color: $grey-darken-1;}
				&:focus{ background-color: #fff; }
			}
			&, input{
				width: 150px;
			}
			@media (min-width: $screen-sm-min){
				&, input{
					width: 290px;
				}
			}
			button{
				position: absolute;
				padding: 0 10px 2px;
				line-height: 31px;
				top: 0; right: 0;
				color: $grey-darken-1;
				@include transition(color,.2s,ease-in-out);
				&:hover{
					color: $grey-darken-4;
				}
			}
		}
	}//.search-form

	.tools-nav{
		margin: 0 0 0 15px;
		@media (min-width: $screen-sm-min){
			margin: 0 0 0 25px;
		}
		ul.tools-nav-ctn{
			& > li{
				float: left;
				& > a{
					display: block;
					line-height: 49px;
					color: #fff;
					i{
						display: block;
					}
				}
			}
			& > li.upload-icon{
				& > a{
					padding: 0 10px;
					& > i{
						padding-top: 4px;
						line-height: 45px;
						font-size: 26px;
					}
				}
			}
			& > li.notify-icon{
				& > a{
					position: relative;
					padding: 0 10px;
					& > i{
						line-height: 49px;
						font-size: 22px;
					}
					span.notify-count{
						position: absolute;
						top: 5px; right: 4px;
						display: block;
						padding: 0 3px;
						line-height: 16px;
						font-size: 11px;
						text-align: right;
						border-radius: 3px;
						background-color: $red-darken-2;
					}
				}
				ul.dropdown-menu{
					padding: 0;
					&:before{
						right: 15px;
						color: $grey-darken-4;
					}
					.notify-nav-header{
						background-color: $grey-darken-4;
						h3{
							margin: 0;
							padding: 6px 15px;
							font-size: 14px;
							line-height: 24px;
							color: #fff;
							width: 180px;
							white-space: nowrap;
							span.text-title{
								&:after{
									content: "\2022";
									padding: 0 7px;
									margin-left: 2px;
								}
							}
							a{
								color: $grey-darken-0;
								&:hover{
									color: #fff;
								}
							}
						}
					}
					.notify-nav-body{
						width: 290px;
						height: 300px;
						overflow-y: auto;
						li.notify-item{
							width: 100%;
							border-bottom: 1px solid $grey-lighten-2;
							&:last-child{
								border-bottom: 0;
							}
							&.item-unread{
								background-color: $grey-lighten-3;
							}
							a{
								padding: 10px;
								white-space: normal;
								@extend .df-clear;
								span{
									display: block;
								}
								span.avatar{
									float: left;
									width: 36px;
									height: 36px;
									border-radius: 50%;
									overflow: hidden;
									img{
										display: block;
									}
								}
								span.descr{
									float: left;
									width: 215px;
									padding: 0 0 0 12px;
									font-size: 12px;
									line-height: 18px;
									span.des-text{
										color: $grey-darken-3;
									}
									span.des-time{
										font-size: 11px;
										color: $grey-darken-0;
									}
								}
							}
						}
					}
				}
			}
			& > li.account-icon{
				padding: 0 8px 0 22px;
				a{
					padding: 0 4px;
					img{
						display: block;
						height: 33px;
						width: 33px;
						margin: 8px 0;
						border-radius: 50%;
					}
				}
			}
			& > li.other-icon{
				& > a{
					padding: 0 6px;
					& > i{
						padding-top: 2px;
						line-height: 47px;
					}
				}
				ul.dropdown-menu{
					padding: 5px 0;
					&:before{
						right: 7px;
					}
				}
			}
		}
	}//tools-nav
}