// single post
$lbSpImg_width_sm: 300px;
$lbSpImg_width_md: 550px;
$lbSpImg_width_lg: 800px;

$lbSpMain_width: 300px;

$lbSp_height_sm: 390px;
$lbSp_height_md: 450px;
$lbSp_height_lg: 540px;

.single-post-page{
	margin: 20px 0;
}

.single-post-container{
	// padding: 15px;
	width: $lbSpImg_width_sm + 17;
	height: auto;
	@media (max-width: $screen-xs-max){
		min-height: 400px;
		max-height: 95vh;
		overflow-y: auto;
	}
	@media (min-width: $screen-sm-min){
		width: $lbSpImg_width_sm + $lbSpMain_width;
		height: $lbSp_height_sm;
	}
  @media (min-width: $screen-md-min){
		width: $lbSpImg_width_md + $lbSpMain_width;
		height: $lbSp_height_md;
  }
  @media (min-width: $screen-lg-min){
		width: $lbSpImg_width_lg + $lbSpMain_width;
		height: $lbSp_height_lg;
  }
	margin: 0 auto;
	@extend .shadow-depth-1;
}

.single-post-image{
	width: $lbSpImg_width_sm;
	height: $lbSp_height_sm;
	@media (min-width: $screen-sm-min){
		height: $lbSp_height_sm;
		float: left;
	}
  @media (min-width: $screen-md-min){
		width: $lbSpImg_width_md;
		height: $lbSp_height_md;
  }
  @media (min-width: $screen-lg-min){
		width: $lbSpImg_width_lg;
		height: $lbSp_height_lg;
  }
	background-color: black;
}
.single-post-main{
	width: $lbSpImg_width_sm;
	height: auto;
	@media (min-width: $screen-sm-min){
		height: $lbSp_height_sm;
		float: right;
		overflow: auto;
	}
  @media (min-width: $screen-md-min){
		height: $lbSp_height_md;
  }
  @media (min-width: $screen-lg-min){
		height: $lbSp_height_lg;
  }
	overflow-y: auto;
	background-color: #FFF;
}

#post-images-carousel{
	position: relative;
	.carousel-inner{
		text-align: center;
		.item{
			width: $lbSpImg_width_sm;
			height: $lbSp_height_sm;
		  @media (min-width: $screen-md-min){
				width: $lbSpImg_width_md;
				height: $lbSp_height_md;
		  }
		  @media (min-width: $screen-lg-min){
				width: $lbSpImg_width_lg;
				height: $lbSp_height_lg;
		  }
			white-space: nowrap;
			.helper-align {
		    display: inline-block;
		    height: 100%;
		    vertical-align: middle;
		    visibility: hidden;
			}
			img{
				display: inline-block;
				vertical-align: middle;
				max-width: $lbSpImg_width_sm;
				max-height: $lbSp_height_sm;
			  @media (min-width: $screen-md-min){
					max-width: $lbSpImg_width_md;
					max-height: $lbSp_height_md;
			  }
			  @media (min-width: $screen-lg-min){
					max-width: $lbSpImg_width_lg;
					max-height: $lbSp_height_lg;
			  }
			}
		}
	}
	.carousel-navigation{
		position: absolute;
		width: 100%;
		bottom: 10px;
		text-align: center;
	}
	ul.carousel-indicators{
		width: auto;
		display: none;
		@media (min-width: $screen-md-min){
			display: inline-block;
		}
		&:hover{
			cursor: default;
		}
		li{
			display: inline-block;
			width: 54px;
			height: 54px;
			margin: 0 5px;
			border: 3px solid #fff;
			@include opacity(.5);
			@extend .trans-opc;
			img{
				max-width: 48px;
				max-height: 48px;
			}
			&.active,
			&:hover{
				@include opacity(1);
				cursor: pointer;
			}
		}	
	}
	a.cn-prev,
	a.cn-next{
		padding: 0 10px;
		color: $grey-lighten-3;
		@include opacity(.5);
		@extend .trans-opc;
		&, i{
			display: inline-block;
			line-height: 54px;
			vertical-align: bottom;
		}
		&:hover{
			@include opacity(1);
		}
	}
}

