// upload

.upload-page{
	margin-top: 30px;
}

.upload-container{
	width: 300px;
	@media (min-width: $screen-sm-min){
		width: 560px;
	}
	height: auto;
	max-height: 95vh;
	overflow: auto;
	margin: 0 auto;
	padding: 20px 20px;
	background-color: #FFF;
	@extend .shadow-depth-1;
}
form.upload-content-form{
	textarea{
		max-width: 260px;
		@media (min-width: $screen-sm-min){
			max-width: 520px;
		}
	}
	.checkbox-container{
		& > div{
			@media (min-width: $screen-sm-min){
				width: 32%;
				float: left;
			}
		}
	}
	.btn{
		border: none;
		background-color: $lblue-darken-1;
		color: #fff;
		font-size: 15px;
		font-weight: 600;
		&:hover{
			background-color: $lblue-lighten-1;
		}
	}
}
label{
	line-height: 20px;
}